.chat__input
    label.chat__input__attach
        input(type='file' style='display: none;')
        img(src='./img/paperclip.svg' alt='Attach')
    input.chat__input__field(id='chat-input' type='text' placeholder='Введите сообщение')
    button.chat__input__button Отправить