.chat__input {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid var(--grey1);
    background-color: var(--lightGrey);

    &__attach {
      display: flex;
      margin-right: 10px;
      cursor: pointer;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
      }
    }

    &__field {
      flex: 1;
      padding: 10px;
      border: 1px solid var(--grey1);
      border-radius: 10px;
      margin-right: 10px;
      font-family: 'Rubik';
      font-size: 1em;
    }

    &__button {
      padding: 10px 20px;
      background-color: var(--secondary);
      color: var(--white1);
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-family: 'Rubik';
      font-size: 1em;

      &:hover {
        background-color: var(--success);
      }
    }
  }