include ../../../widgets/MatchCard/MatchCard.pug

if (users != null && users.length > 0)
    .matches
        for user in users
            +matchCard(user)
else
    .form.message-form
        h1 Пока что у вас нет мэтчей
        h3 Подсказка: чем больше лайков Вы поставите другим пользователям, тем больше вероятность мэтча!