include ../../components/ImageSection/ImageSection.pug

.container
  .form-section
    include ../../components/LoginForm/LoginForm.pug
  //+imageSection("../assets/img/Logo.svg")
  include ../../components/ImageSection/ImageSection.pug