include ../../../shared/components/SwipeCard/SwipeCard.pug
include ../../../widgets/Navbar/ui/Navbar.pug

+navbar(true)

div.tinder
  div.tinder__cards
    for user in users
      +card(user.username, user.gender, user.age)
  div.tinder__buttons
    button#nope(class="button button_img")
      img(class="img button_img__img" src="./img/X.svg" alt="X")
    button#love(class="button button_img")
      img(class="img button_img__img" src="./img/Heart.svg" alt="Heart")
