.tinder {
    width: 100vw;
    height: 92vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    gap: 10px;
    padding-bottom: 10px;
}

.tinder__buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.loaded.tinder {
    opacity: 1;
}

.tinder__cards {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}