include ../../../shared/components/SwipeCard/SwipeCard.pug
include ../../../widgets/Navbar/Navbar.pug

+navbar(true)

div.tinder
  div.tinder--cards
    for user in users
      +card(user.username, user.gender, user.age)
  div.tinder--buttons
    button#nope
      i.fa.fa-remove
        img(src="./X.svg" alt="X")
    button#love
      i.fa.fa-heart
        img(src="./Heart.svg" alt="Heart")