include ../../../widgets/SwipeCard/SwipeCard.pug

if (users != null && users.length > 0)
  div.tinder
    div.tinder__cards
      for user in users
        +card(user)
    div.tinder__buttons
      button#nope(class="button button_img nope")
        img(class="img button_img__img" src="./img/HeartBroken.svg" alt="X")
      button#love(class="button button_img love")
        img(class="img button_img__img" src="./img/HeartWhite.svg" alt="Heart")
.form.message-form.message-form--feed
  h1 Пока что не появилось новых анкет
  h3 Подсказка: заглядывайте почаще, чтобы не пропустить того самого человека!
