mixin chat-preview(preview)
    .chats-list__chat(data-id=preview.id)
        .chats-list__chat__avatar
            if (preview.avatar && preview.avatar !== '')
                img.chats-list__chat__avatar__img(src=preview.avatar alt='avatar')
            else
                img.chats-list__chat__avatar__img(src='./img/user.svg' alt='avatar')
        .chats-list__chat__info
            .chats-list__chat__info__name
                | #{preview.username}
            .chats-list__chat__info__last-message
                | #{preview.lastMessage}