.form.message-form
    h1 Результаты опросов
    each stat in stats
        h2 Вопрос: #{stat.Question}
        h3 Средний рейтинг: #{stat.AverageRating}
        h3 Максимальная возможная оценка: #{stat.Grade}