.tinder--card
  .image-section
    img(src="../assets/img/image.svg" alt="Image" draggable="false")
  .form-section-tinder
    h1 #{user.username}
    text-base Пол: #{user.gender}
    text-base Возраст: #{user.age}