.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: auto;
    

    .profile-card {
        width: 65vw;
        position: sticky;
        background: var(--white1);
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .image-section-profile {
            width: 30%;
            border-radius: 12px;
            overflow: hidden;

            img {
                width: 150px;
                height: auto;
                object-fit: cover;
            }
        }

        .info-section {
            text-align: left; 
            width: 100%;

            p {
                margin: 10px 0;
                padding-left: 20px;
                position: relative;
                
                &:before {
                    content: ""; 
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 5px;
                    height: 5px;
                    background-color: #007BFF;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .settings-button {
            margin-top: auto;
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}
.settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 

    h2 {
        margin-bottom: 20px;
        width: 100%; 
        text-align: center; 
    }

    label {
        margin-bottom: 10px;
        width: 100%; 

        input,
        select,
        textarea {
            margin-left: 0; 
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%; 
            resize: none; 
        }
        
        textarea {
            min-height: 50px; 
            max-height: 200px; 
            overflow-y: hidden
        }
    }

    button {
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%; 

        &:hover {
            background-color: #0056b3;
        }
    }
}