include ../../../widgets/Navbar/Navbar.pug

+navbar(true)

div.profile
  div.profile-card
    .image-section-profile
        img(src="./img/image.svg", alt="Фотография пользователя", draggable="false")
    .info-section
      h1 Имя пользователя
      p Пол: Мужской
      p Возраст: 25
      p Биография: Здесь будет краткая информация о пользователе.
    button.settings-button Настройки