div.notifications-container
  if notifications.length > 0
    each notification, index in notifications
      div.notification-container(class=notification.type)
        div.notification
          | #{notification.message}