.header {
    &__logo {
        &__img {
            width: 130px;
        }
    }

    &__description {
        align-self: center;
    }
}

@media (max-width: 450px) {
    .header {
        &__logo {
            &__img {
                width: 70px;
            }
        }
    }
}