.header {
    &__logo {
        &__img {
            width: 130px;
        }
    }

    &__description {
        align-self: center;
    }
}

@media (max-width: 450px) {
    .header {
        &__logo {
            &__img {
                width: 80px;
            }
        }

        &__description {
            align-self: center;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}