text(class=".text-base") Пол
    .gender-selection
        input(type="radio" id="male" name="gender" value="male" checked)
        label(for="male") Мужской
        input(type="radio" id="female" name="gender" value="female")
        label(for="female") Женский
    p.error(id="gender-error" style="display:none;") Выберите пол