include ../../shared/components/CustomInput/CustomInput.pug
include ../../shared/components/Header/Header.pug
include ../../shared/components/TextButton/TextButton.pug
include ../../shared/components/FooterText/FooterText.pug
include ../../shared/components/GenderSelection/GenderSelection.pug
include ../../shared/components/Birth_date/birth_date.pug
include ../../shared/components/NameInput/nameInput.pug

block registration
  +header('Добро пожаловать!')

  .step1
    h2 Шаг 1 из 2
    +customInput('login', 'registration')
    +customInput('password', 'registration')

    +genderSelection('male')

    +birth_date('2000-01-01')

    +textButton('К следующему шагу', 'next-button')

  .step2.hidden
    h2 Шаг 2 из 2
    +name('', '')
    include ../../shared/components/InterestTags/InterestTags.pug
    +textButton('Зарегистрироваться', 'signup-button')


  +footerText('registration')