.tinder__card {
    padding: 20px;
    gap: 20px;
    min-width: 700px;
    width: 65%;
    height: 80%;
    background: var(--white1);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.6s ease-in-out;
    cursor: grab;
    display: flex;
    user-select: none;
    opacity: 1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    &.moving {
        transition: none;
        cursor: grabbing;
    }
}

@media (max-width: 700px) {
    .tinder__card {
        flex-direction: column;
        min-width: 300px;
        width: 75%;
    }
}

@media (max-width: 450px) {
    .tinder__card {
        flex-direction: column;
        min-width: 300px;
        width: 90%;
        gap: 10px;

        .image-section {
            flex: 2;
        }

        .form-section {
            h3 {
                font-size: smaller;
            }

            h2 {
                font-size: smaller;
            }
        }
    }
}