.tinder__card {
    padding: 17px;
    gap: 17px;
    min-width: 700px;
    width: 65vw;
    height: 75vh;
    background: var(--white1);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.6s ease-in-out;
    cursor: grab;
    display: flex;
    user-select: none;
    opacity: 1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    &.moving {
        transition: none;
        cursor: grabbing;
    }
}