include ../CustomInput/CustomInput.pug
include ../Header/Header.pug
include ../TextButton/TextButton.pug
include ../FooterText/FooterText.pug

block login
  +header('С возвращением!')

  +customInput('login', 'login')
  +customInput('password', 'login')
  +textButton('Войти в аккаунт', 'login-button')

  +footerText('login')