include ../../shared/components/ImageSection/ImageSection.pug


mixin base(typeOfPage)
    .form
        .form-section
            if typeOfPage === 'signup'
                include ../RegistrationForm/RegistrationForm.pug
            else if typeOfPage === 'login'
                include ../LoginForm/LoginForm.pug
        +imageSection('./img/LogReg.svg')