include ../../../shared/components/TextButton/TextButton.pug

mixin navbar(isAuth)
    .navbar
        .navbar__logo
            img(class='img navbar__logo__img' src='./Logo.svg' alt='logo')
        .navbar__list
            ul.navbar__list__ul
                if (isAuth)
                    li
                        a(class='navbar__link' href='/feed') Главная
                    li
                        a(class='navbar__link' href='/matches') Мэтчи
                    li
                        a(class='navbar__link' href='/profile') Профиль
                else 
                    li
                        a(class='navbar__link' href='/login') Логин
                    li
                        a(class='navbar__link' href='/signup') Регистрация
        if (isAuth)
            button#button-logout(class="text-base button button_text navbar__button", type="button") Выйти из аккаунта