div#reportModal.modal
  .modal-content
    span.close-modal(class="close-button") &times;
    h2 Пожаловаться
    form#reportForm
      label(for="reason") Причина
      select#reason
        option(value="spam") Спам
        option(value="about") Оскорбительное описание
        option(value="photo") Неприемлемые фотографии
        option(value="fake") Выдает себя за другого человека
        option(value="abuse") Оскорбление
      label(for="comment") Комментарий
      textarea#comment(rows="4" placeholder="Ваш комментарий...")
      button(type="submit") Отправить