.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    &.show {
        display: block;
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 5px;
        width: 80%;

        h2 {
            margin-bottom: 20px;
            font-size: 1.5em;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 10px;
                font-weight: bold;
            }

            select,
            textarea {
                margin-bottom: 15px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1em;
                resize: vertical;
                #comment {
                    resize: none; /* Запретить изменение размера */
                    width: 100%; /* Установить ширину на 100% родительского элемента */
                    height: auto; /* Автоматическая высота, если нужно */
                  }
                
            }

            button[type='submit'] {
                background-color: var(--secondary);
                color: white;
                padding: 10px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 1em;

                &:hover {
                    background-color: var(--success);
                }
            }
        }

        .close-button {
            cursor: pointer;
            font-size: 1.5em;
            color: var(--red1);
            float: right;

            &:hover {
                color: #d32f2f;
            }
        }
    }
}

button.report {
    background-color: var(--red1);
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1em; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    position: absolute; // Позиционирование кнопки
    top: 10px; // Отступ сверху
    right: 10px; // Отступ справа

    &:hover {
        background-color: #d32f2f; 
    }

    &:focus {
        outline: none; 
        box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5); 
    }
}