div.tinder
  div.tinder--cards

  div.tinder--buttons
    button#nope
      i.fa.fa-remove
        img(src="../assets/img/X.svg" alt="X")
    button#love
      i.fa.fa-heart
        img(src="../assets/img/Heart.svg" alt="Heart")