include ../../components/SwipeCard/SwipeCard.pug
include ../../components/Navbar/Navbar.pug

+navbar(true)

div.tinder
  div.tinder--cards
    for user in users
      +card(user.username, user.gender, user.age)
  div.tinder--buttons
    button#nope
      i.fa.fa-remove
        img(src="images/X.svg" alt="X")
    button#love
      i.fa.fa-heart
        img(src="images/Heart.svg" alt="Heart")