mixin carousel(images)
    .carousel
        each image, index in images
            img(class="img image-section__img" src=`http://5.188.140.7/${image.link.substring(image.link.lastIndexOf('/') + 1)}` alt="Image #{index + 1}" draggable="false")
    if (images.length > 1)
        button.button_light.carousel__button.carousel__button_left
            img(class="img button_img__img" src="./img/left.svg" alt="X")
        button.button_light.carousel__button.carousel__button_right
            img(class="img button_img__img" src="./img/right.svg" alt="X")