.chats-container {
  display: flex;
  height: 90%;
  width: 80%;
  gap: 20px;
}

.chat__no-previews {
  text-align: center;
  padding: 20px;
  border: 1px dashed var(--grey1);
  border-radius: 10px;
  background-color: var(--lightGrey);
  margin: auto;
}

@media (max-width: 450px) {
  .chats-container {
    width: 90%;
  }
}