include ../../shared/components/CustomInput/CustomInput.pug
include ../../shared/components/Header/Header.pug
include ../../shared/components/TextButton/TextButton.pug
include ../../shared/components/FooterText/FooterText.pug

block login
  +header('С возвращением!')

  +customInput('login', 'login')
  +customInput('password', 'login')
  +textButton('Войти в аккаунт', 'login-button')

  +footerText('login')