include ../TextButton/TextButton.pug

mixin navbar(isAuth, logoSrc)
    .nav
        .nav__logo
            img(src='../../assets/img/Logo.svg', alt='logo')
        .main-nav
            ul
                if isAuth
                    li.nav-link
                        a(href='/feed') Главная
                else 
                    li.nav-link
                        a(href='/login') Логин
                    li.nav-link
                        a(href='/signup') Регистрация
        if isAuth
            button#button-logout(type="button") Выйти из аккаунта
            // +textButton('Выйти из аккаунта', 'button-logout')

