include ../../../shared/components/TextButton/TextButton.pug

.navbar
    .navbar__logo
        a(class='navbar__logo__link' href=isAuth ? '/feed' : '/login')
            img(class='img navbar__logo__img' src='./img/Logo.svg' alt='logo')
    .navbar__list
        ul.navbar__list__ul
            if (this.isAuth)
                li
                    a(class=`navbar__link ${curRoute === '/feed' ? 'navbar__link--active' : ''}` href='/feed') Главная
                li
                    a(class=`navbar__link ${curRoute === '/matches' ? 'navbar__link--active' : ''}` href='/matches') Мэтчи
                li
                    a(class=`navbar__link ${curRoute === '/profile' ? 'navbar__link--active' : ''}` href='/profile') Профиль
            else 
                li
                    a(class='navbar__link' href='/login') Войти
                li
                    a(class='navbar__link navbar__link--active' href='/signup') Зарегистрироваться
    if (isAuth)
        include ../../../shared/components/Avatar/Avatar.pug
        button#button-logout(class="text-base button button_text navbar__button", type="button") Выйти из аккаунта

