.chats-list {
  width: 30%;
  border-radius: 20px;
  min-width: 297px;
  display: flex;
  background-color: var(--white1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  flex-direction: column;
  transition: width 0.3s ease, opacity 0.3s ease;

  &__content {
    overflow-y: auto;
  }

  @media (max-width: 800px) { 
    display: none;
  }

  &__no-previews {
    text-align: center;
    padding: 20px;
    border: 1px dashed var(--grey1);
    border-radius: 10px;
    background-color: var(--lightGrey);
  }
}