.user-avatar
    a.user-avatar__image-wrapper(href="/profile")
        img.user-avatar__image(src="/img/user.svg", alt="User Avatar")
    .user-avatar__menu(is-active) 
        button.user-avatar__logout-button Выйти