.user-avatar
    .user-avatar__image-wrapper(onclick="()=> console.log('123')")
        img.user-avatar__image(src="./img/user.svg", alt="User Avatar")
    .user-avatar__menu(is-active)
        button.user-avatar__logout-button Выйти