.modal {
  display: none; // Скрыто по умолчанию
  position: fixed; // Зафиксировано на экране
  z-index: 1000; // На переднем плане
  left: 0;
  top: 0;
  width: 100%; // Ширина на весь экран
  height: 100%; // Высота на весь экран
  overflow: auto; // Прокрутка при необходимости
  background-color: rgba(0, 0, 0, 0.5); // Полупрозрачный фон

  &-content {

      h2 {
          margin-top: 0; // Убираем верхний отступ у заголовка
      }

      .close {
          color: #aaa; // Цвет крестика
          float: right; // Справа от содержимого
          font-size: 28px; // Размер шрифта
          font-weight: bold; // Жирный шрифт

          &:hover,
          &:focus {
              color: black; // Цвет при наведении или фокусе
              text-decoration: none; // Убираем подчеркивание
              cursor: pointer; // Курсор указателя
          }
      }

      label {
          display: block; // Блок для метки
          margin-bottom: 10px; // Отступ снизу
      }

      select {
          width: 100%; // Полная ширина с учетом отступов
          padding: 10px; // Внутренние отступы
          border: 1px solid #ccc; // Рамка
          border-radius: 4px; // Закругленные углы

          &:focus {
              border-color: var(--secondary); // Цвет рамки при фокусе
              outline: none; // Убираем стандартный контур
          }
      }

      button {
          background-color: #007bff; // Цвет кнопки
          margin-top: 20px;
          color: white; // Цвет текста кнопки
          padding: 10px 15px; // Внутренние отступы
          border: none; // Убираем рамку
          border-radius: 4px; // Закругленные углы
          cursor: pointer; // Курсор указателя

          &:hover {
              background-color: #0056b3; // Цвет кнопки при наведении
          }
      }
  }
}