mixin matchCard(username, gender, age)
  .match-card
    .match-card__image-section
      img(class="match-card__image-section__img" src="./image.svg" alt="Image" draggable="false")
    h1 !{username}, !{age}