mixin matchCard(username, age)
  .match-card
    .image-section.match-card__image-section
      img(class="img image-section__img" src="./image.svg" alt="Image" draggable="false")
    h3.match-card__title !{username}, !{age}