.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white1);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0 10%;

    button {
        width: 180px;
        align-self: center;
        padding: 12px; 
        background-color: var(--secondary);
        color: var(--white1);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 0;
        box-sizing: border-box;
    }

    &__logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        pointer-events: none;

        img {
            height: 100%; 
            object-fit: cover;
            object-position: center; 
        }
    }

    .nav-link {
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        color: var(--black1);

        &:hover {
            background: var(--primary);
            border-radius: 10px;
        }
    }

    .main-nav {
        ul {
            list-style: none;
            display: flex;
            gap: 20px;

            li {
                a {
                    color: var(--black1);
                    text-decoration: none;
                }
            }
        }
    }
}