mixin assets/imgection(path)
  .image-section
    //img(src!=path, alt="Image")
    img(src=`images/image.svg` alt="Image")
    //img(src=`images/${path}` alt="Image") будет работать...

//надо чинить