mixin imageSection(path)
  .image-section
    //img(src!=path, alt="Image")
    img(src=`src/assets/img/image.svg` alt="Image")
    //img(src=`../../assets/img/${path}` alt="Image") будет работать...

//надо чинить