include ../../shared/components/ChatHeader/ChatHeader.pug
include ../../shared/components/Message/Message.pug

+chatHeader(chatData)
.chat__messages
    //.chat__messages__date
        | 12 марта 2023
    if (chatData.messages && chatData.messages.length > 0)
        each message in chatData.messages
            +message(message)
    else
        .chat__no-messages
            | Начните ваше общение
include ../../shared/components/ChatInput/ChatInput.pug