mixin card(username, gender, age)
  .tinder__card
    .image-section
      img(class="img image-section__img" src="../shared/assets/img/image.svg" alt="Image" draggable="false")
    .form-section
      h1 !{username}
      text-base Пол: !{gender}
      text-base Возраст: !{age}