.tinder__card {
    padding: 17px;
    gap: 17px;
    min-width: 700px;
    width: 65vw;
    height: 75vh;
    background: var(--white1);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: grab;
    display: flex;
    user-select: none;
    opacity: 1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    &.moving {
        transition: none;
        cursor: grabbing;
    }
}

.image-scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    display: none;
  }
  
  .scroll-button--left {
    left: 5px;
  }
  
  .scroll-button--right {
    right: 5px;
  }
  
  .image-section:hover .scroll-button {
    display: block;
  }
